<h1><%=@book.title%></h1>

 <%= form_for(@book) do |f| %>
  <p>
    Title: <%= f.text_field(:title) %>
  </p>
  <p>
    Author: <%= f.text_field(:author) %>
  </p>
  <p>
    Genre: <%= f.text_field(:genre) %>
  </p>
  <p>
    <%= f.submit('Update the book') %>
  </p>


<% end %>
